/* Achat */
.left_col_achat
{	

	margin-top: 60px;
	border: 3px black solid;
	background-color: white;
	padding: 5px;
}

.check_checkbox
{
	border: 2px black solid;
	background: orange;
	padding-bottom: 5px;
	
}


.rechercheVendeur
{
	border: 2px black solid;
	background: orange;
	margin-bottom: 5px;
	padding: 5px; 
}

#image
{
	float:left;
}

#affichage
{
	margin-top: 10px;
	text-align : center ;
	align-content : center;
}