/* Achat */
.left_col_achat
{	

	border: 3px black solid;
	margin: 10px;
	padding:5px;
	background-color: white;
}

.check_checkbox
{
	border: 2px black solid;
	background: orange;
	margin: 6px;
	
}


.rechercheVendeur
{
	border: 2px black solid;
	background: orange;
	margin: 6px;
	padding-top: 6px;		
	padding-bottom: 6px;
}

#image
{
	float:left;
}

#affichage
{
	margin-top: 10px;
	text-align : center ;
	align-content : center;
}