
.container-fluid
{
	font-family: var(--Ecriture-site);
	margin: 0px;
	padding: 0px;
	background-color: orange;
}



#carousel-1 img{
	max-width: auto;
	max-height: 500px;
}
#carousel-4 img{
	max-width: auto;
	max-height: 500px;
}

#carousel-3 img{
	max-width: auto;
	max-height: 500px;
}


#accueil
{
	background-color: white;
}

#imgac img{
	max-width: auto;
	max-height: 500px;
}